/* Styles */
html, body, #root, .container-loading {
  height: 100%;
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

.jumbotron {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

.jumbotron:nth-child(2n) {
  background:white !important;
}

.container-loading {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.loading {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.loading-row {
  background-color: #fff;
  min-height: 100%;
  height: 100%;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  width: 100%;
}

.loading div {
  width: inherit !important;
}

.loading svg {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.h1-loading {
  color: #fff;
  font-size: 6rem;
  line-height: 8rem;
}

@media screen and (max-width: 767px) {
    .table-responsive {
      border:none !important;
    }
}



/*Modal*/
.modal-header {
  background: #22D744;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header .close {
  color:white;
  opacity:0.5;
}
/*Buttons*/
.smart-button {
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
}


/*Header*/
.Header {
  background: white !important;
}

.Header img {
    height:28px;
    margin-top:-5px;
    float: left;
}

.Header img:nth-child(2) {
  margin-top:-3px;
  margin-left:5px;
  height:27px;
}

/*Subheader*/
.Subheader {
  background: #22D744 !important;
  border:none !important;
}

.Subheader .navbar-nav>li>a {
  color:white !important;
}


/*Home Page*/
.HomePage .splash-panel {
  position: relative;
  height:500px;
  background: transparent;
  color:black;
}

.HomePage .splash-panel:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('https://upload.wikimedia.org/wikipedia/commons/9/91/Ride_and_Drive_EVs_Plug%27n_Drive_Ontario.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 1;
    z-index: -1;
}

.HomePage .splash-panel div {
  position: absolute;
  top:50%;
  margin-top: -145px;
  background:rgba(999,999,999,1);
  padding:20px;
  padding-bottom:38px;
  box-shadow: 1px 1px 1px 1px black;
}

.HomePage .splash-panel div h1 {
  font-size:45px;
}

.HomePage .splash-panel div h1 span {
  color:#22D744;
  font-style: italic;
}

.HomePage .splash-panel div p {
  margin: 0px;
  font-size:25px;
}

.HomePage .splash-panel div .btn {
  margin-top: 20px;
}

.HomePage .car-panel {
  padding:50px;
  padding-bottom:70px;
}

.HomePage .car-panel .btn {
  background: transparent;
  color:#22D744;
  box-shadow: none;
  border: 1px solid #22D744;
  margin-top: 15px;
}

.HomePage .car-panel h2 {
  color:#22D744;
  margin-top:-10px;
  margin-bottom:0px;
  font-size:35px;
  font-weight: normal;
}

.HomePage .car-panel h2:nth-child(1) {
  color:#111;
  margin-bottom: 20px;
  margin-top:10px;
}

.HomePage .car-panel .row div:nth-child(1) img {
}

.HomePage .car-panel .row div:nth-child(2) img {

}

.HomePage .car-panel .row div:nth-child(3) img {

}


/*New Booking*/
.NewBooking .panel {
  margin-top: 30px;
  padding-top:20px;
  padding-bottom:25px;
  padding-right:30px;
  padding-left:30px;
  border: none;
  border-radius: 5px;
}

.NewBooking .panel Table {
  /*border: 1px solid #ddd;
  border-radius: 5px;*/
}

.NewBooking .panel h4 {
  margin-bottom: 20px;
}

.NewBooking .cartype-button {
  margin-bottom: 10px;
  padding:10px;
  height:72px;
}

.NewBooking .cartype-button.active {
  border:2px solid #22D744 !important;
}

.NewBooking .errorMessage {
  /*background-color:#22D744;*/
  margin-top: -32px;
  margin-left:9px;
}

.NewBooking .smart-button {
  /*background-color:#22D744;*/
  margin-top: 6px;
  width: 100%;
}

.NewBooking .cartype-button:nth-child(1) img {
  height:60px;
}

.NewBooking .cartype-button:nth-child(2) img {
  height:40px;
}

.NewBooking .cartype-button:nth-child(3) img {
  height:50px;
}

/*Calendar*/

.DateRangePicker {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-left: 0px;
}

.DateRangePicker__Month {
  margin: 0px !important;
}

.DateRangePicker__CalendarSelection {
  background-color: #22D744 !important;
  border: 1px solid #22D744 !important;
}

.DateRangePicker__CalendarHighlight--single {
  border: 1px solid #22D744 !important;
}

.DateRangePicker__CalendarSelection--is-pending {
  background-color: #22D744;
  border: 1px solid #22D744;
  opacity: 0.6;
}

/*Booking Page*/
.BookingPage img {
  width:100% !important;
}


/*Account Page*/
.nav-pills>li.active>a {
  background-color: #22D744 !important;
}

dl {
  margin-bottom: 9px !important;
  margin-top: 3px !important;
}

/*Footer*/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 img{
  height:135px;
  margin-bottom: 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
